In [5]:
#### Importing the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [6]:
# Import the required dataset
orig_df = pd.read_csv('ratings.csv')

In [10]:
orig_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B1      7 non-null      int64
 1   B2      7 non-null      int64
 2   B3      7 non-null      int64
 3   B4      7 non-null      int64
 4   B5      7 non-null      int64
dtypes: int64(5)
memory usage: 412.0 bytes

In [11]:
orig_df.describe()

             B1        B2        B3        B4        B5
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean   3.285714  2.285714  3.142857  3.142857  3.142857
std    1.380131  1.380131  1.214986  1.772811  1.214986
min    1.000000  0.000000  1.000000  0.000000  2.000000
25%    2.500000  1.500000  2.500000  2.500000  2.000000
50%    4.000000  3.000000  4.000000  3.000000  3.000000
75%    4.000000  3.000000  4.000000  4.500000  4.000000
max    5.000000  4.000000  4.000000  5.000000  5.000000

In [12]:
# Perform PCA on the dataset
pca = PCA(random_state=42)
pca.fit(orig_df)
pca.explained_variance_ratio_

array([6.51886873e-01, 1.52836342e-01, 1.30717403e-01, 6.43810220e-02,
       1.78359842e-04])